* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--fontPrincipal);
}

body {
  background-color: var(--corPrimaria);
}

/* cabeçalho */
#container-header {
  background-color: var(--corSecundaria);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* logo do cabeçalho */
#container-header #header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

#container-header #header-logo .header-logocafe {
  height: 54px;
  width: 59px;
}

#container-header #header-logo .header-logonome{
  width: 199px;
  height: 31px;
}

/* navegação cabeçalho */
#header-navegacaolinks {
  width: 400px;
}

#header-navegacaolinks ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

#header-navegacaolinks ul li a {
  font-size: 28px;
  text-decoration: none;
  color: var(--corTercearia);
}

/* cabeçalho icones */
#header-icones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}