/* Sobre nós */
.about {
    background-color: #2C2C2C;
    color: white;
    padding: 50px 20px;
  }
  
  .about h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
  }
  
  .about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 30px 20px;
  }
  
  .about-us .description {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us .about-img {
    max-width: 100%;
    border-radius: 5px;
    /* box-shadow: 10px 12px 2px 3px rgba(90, 89, 89, 0.973); */
    transition: .3s ease-in-out;
  
    &:hover {
      opacity: 0.6;
    }
  }
  
  .about-us .about-img.border-right {
    box-shadow: 10px 12px 2px 3px rgba(90, 89, 89, 0.973);
  }
  
  .about-us .about-img.border-left {
    box-shadow: -10px 12px 2px 3px rgba(90, 89, 89, 0.973);
  }