* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--fontPrincipal);
}

body {
  background-color: var(--corPrimaria);
}

/* cabeçalho */
#container-header {
  background-color: var(--corSecundaria);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* logo do cabeçalho */
#container-header #header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

#container-header #header-logo .header-logocafe {
  height: 54px;
  width: 59px;
}

#container-header #header-logo .header-logonome{
  width: 199px;
  height: 31px;
}

/* navegação cabeçalho */
#header-navegacaolinks {
  width: 400px;
}

#header-navegacaolinks ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

#header-navegacaolinks ul li a {
  font-size: 28px;
  text-decoration: none;
  color: var(--corTercearia);
}

/* cabeçalho icones */
#header-icones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

/* carrossel de imagens */
.image-carousel {
  max-height: 82vh;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease; 
}

.slide.show {
  opacity: 1;
  visibility: visible; 
  position: relative; 
}

.slide-img {
  width: 100%;
  object-fit: cover; 
  object-position: center; 
}

.preview-arrow, .next-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.preview-arrow {
  left: 4%;
}

.next-arrow {
  right: 4%;
}

.opacity {
  opacity: 0.6;
}

/* sessão de xicara de cafés */
.section-coffee {
  height: 800px;
  width: 100%;
  display: block;
  padding-top: 200px;
}

.section-coffee .section-boxs {
  padding-top: 0px;
  height: 400px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
}

.section-coffee .section-boxs .section-img-coffee {
  display: flex;
  justify-content: space-around;
  height: 400px;
}

.section-coffee .section-boxs .section-img-coffee .image-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.section-coffee .section-boxs .section-img-coffee .image-container img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.section-coffee .section-boxs .section-img-coffee .image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -34px;
  top: 50px;
  width: 210px;
  height: 300px;
  border-radius: 40px;
  background-color: var(--corTercearia);
}