* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--fontPrincipal);
  scroll-behavior: smooth;
}

body {
  background-color: var(--corPrimaria);
}

/* cabeçalho */
#container-header {
  background-color: var(--corSecundaria);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  gap: 20px;
}

/* logo do cabeçalho */
#container-header #header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

#container-header #header-logo .header-logocafe {
  height: 54px;
  width: 59px;
}

#container-header #header-logo .header-logonome{
  width: 199px;
  height: 31px;
}

/* navegação cabeçalho */
#header-navegacaolinks {
  width: 400px;
}

#header-navegacaolinks ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

#header-navegacaolinks ul li a {
  font-size: 28px;
  text-decoration: none;
  color: var(--corTercearia);
  transition: .3s ease-in-out;
}

#header-navegacaolinks ul li a:hover {
  border-bottom: 2px solid var(--corHover);
  color: var(--corPrimaria);
}

/* cabeçalho icones */
#header-icones {
  display: flex;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

/* carrossel de imagens */
.image-carousel {
  max-height: 82vh;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease; 
}

.slide.show {
  opacity: 1;
  visibility: visible; 
  position: relative; 
}

.slide-img {
  width: 100%;
  object-fit: cover; 
  object-position: center; 
}

.preview-arrow, .next-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.preview-arrow {
  left: 4%;
}

.next-arrow {
  right: 4%;
}

.opacity {
  opacity: 0.6;
}

/* Sobre nós */
.about {
  background-color: #2C2C2C;
  color: white;
  padding: 50px 20px;
}

.about h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 35px;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  gap: 30px 20px;
}

.about-us .description {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us .about-img {
  max-width: 100%;
  border-radius: 5px;
  /* box-shadow: 10px 12px 2px 3px rgba(90, 89, 89, 0.973); */
  transition: .3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}

.about-us .about-img.border-right {
  box-shadow: 10px 12px 2px 3px rgba(90, 89, 89, 0.973);
}

.about-us .about-img.border-left {
  box-shadow: -10px 12px 2px 3px rgba(90, 89, 89, 0.973);
}

/* sessão de xicara de cafés */
.section-coffee {
  /* height: 800px; */
  width: 100%;
  /* padding-top: 200px; */
  height: 85vh;
  margin: 50px 0;
}

.section-coffee .section-boxs {
  padding-top: 0px;
  height: 500px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: gray; */
}

.section-coffee .section-boxs .section-img-coffee {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  height: 500px;
}

.section-coffee .section-boxs .section-img-coffee .image-container {
  position: relative;
  width: 130px;
  height: 130px;
}

.section-coffee .section-boxs .section-img-coffee .image-container img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: .3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

/* btn de compra cafes */
.section-coffee .section-boxs .section-img-coffee .image-container .box-buycoffee {
  position: relative;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
}

.section-coffee .section-boxs .section-img-coffee .image-container .box-buycoffee p, a {
  font-size: 20px;
  color: white;
}

.section-coffee .section-boxs .section-img-coffee .image-container .box-buycoffee a {
  margin-top: 10px;
  font-size: 14px;
  padding: 5px;
  color: var(--corPrimaria);
  background-color: var(--corSecundaria);
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.section-coffee .section-boxs .section-img-coffee .image-container .box-buycoffee a:hover {
  color: white;
  background-color: var(--corHover);
}

.section-coffee .section-boxs .section-img-coffee .image-container::after {
  content: '';
  position: absolute;
  left: -45px;
  top: 60px;
  width: 220px;
  height: 300px;
  border-radius: 40px;
  background-color: var(--corTercearia);
}